@model MessageRequest

<h2>Publisher</h2>

<br />

    <form asp-action="Index" method="post">
        <h2>Messaging Service</h2>

        <label> Type the message to be sent to the Subscribers</label>
        <input asp-for="Message" />
        <button type="submit">Send Message</button>

        <br />
    </form>

<a asp-action="PullMessage" asp-controller="Message">View Subscriber</a>

@*<button onclick="pullMessage()">Pull Message</button>
<label>Pulled Messages : </label>
<div id="messageList">

</div>*@

@*<script type="text/javascript">

   

    function pullMessage() {
        debugger;
        $.ajax({
            type: "GET",
            url: "@Url.Action("PullMessage","Message")",
            dataType: "application/json",
            success: function (msg) {
                debugger;
                
            },
            error: function (err) {
                debugger;
            }
        });
    }

</script>*@